.s-hero {
    height: 100vh;
    max-height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: $headerHeight;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(105deg, rgb(255 255 255 / 61%) 13%, rgba(254, 255, 255, 0) 100%);
        z-index: 11;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.hero-cta {
    position: relative;
    z-index: 100;
    max-width: 80%;

    p {
        font-size: 26px;
        line-height: 120%;
        color: $darkBlueColor;
        margin-bottom: 20px;
        font-weight: 700;
    }

}

h1 {
    font-size: 48px;
    line-height: 120%;
    color: $darkBlueColor;
    margin-bottom: 20px;
    font-weight: 700;
}