.s-contact-info {
    background-color: $primary0;
}

.info-row {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width:1240px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.info-item {
    display: flex;
    
}