@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans";
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
  vertical-align: top;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.s-hero {
  height: calc(100vh - 100px);
  max-height: 1280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.s-hero::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(9, 11, 66, 0.375);
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-cta {
  position: relative;
  margin: 0 auto;
  z-index: 100;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  max-width: -moz-max-content;
  max-width: max-content;
}
.hero-cta p {
  font-size: 16px;
  line-height: 120%;
  color: #1A374C;
  margin-bottom: 40px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hero-cta p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .hero-cta p {
    font-size: 22px;
  }
}
@media (min-width: 1240px) {
  .hero-cta p {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .hero-cta {
    padding: 40px;
    margin: auto auto auto 0;
  }
}
@media (min-width: 992px) {
  .hero-cta {
    padding: 60px;
  }
}

h1 {
  font-size: 32px;
  line-height: 120%;
  color: #1A374C;
  margin-bottom: 10px;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 1240px) {
  h1 {
    font-size: 56px;
  }
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 500;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 10px 0;
  display: flex;
  align-items: center;
}
header.scrolled {
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 85px;
  transition: height 0.3s ease;
}
header.scrolled .logo-wrapper {
  max-width: 140px;
}

.header-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header-container .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  transition: all 0.3s ease;
  max-width: 160px;
  flex-shrink: 0;
  margin-right: auto;
}

.header__call-us {
  display: none;
  text-transform: uppercase;
  color: #1A374C;
  font-size: 16px;
}
.header__call-us a {
  color: inherit;
  text-decoration: none;
}
.header__call-us a .bold {
  font-weight: 900;
}
@media (min-width: 768px) {
  .header__call-us {
    display: inline-block;
  }
}

.s-services {
  background-color: #8DB9D8;
}

.s-about-us {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 85px);
}
.s-about-us::before {
  content: "";
  display: block;
  background-color: hsla(208, 50%, 24%, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.s-about-us__content {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .s-about-us__content {
    gap: 80px;
    flex-direction: row;
  }
}

.s-about-us__image {
  flex: 1 0 43%;
  border-radius: 50%;
  overflow: hidden;
  max-width: 360px;
}
@media (min-width: 768px) {
  .s-about-us__image {
    max-width: none;
  }
}

.s-about-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s-about-us__info .c-section-heading {
  max-width: 90%;
}

.s-about-us__info__cta {
  color: #fff;
  text-align: left;
}
.s-about-us__info__cta h4 {
  padding-bottom: 20px;
}

.contact-methods-wrapper {
  display: grid;
  gap: 12px;
}
.contact-methods-wrapper button {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 480px) {
  .contact-methods-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .contact-methods-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .contact-methods-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.s-gallery {
  background-color: #D9E8F2;
}

.s-map {
  background-color: #D9E8F2;
}
.s-map.section-padding {
  padding-bottom: 0;
}
.s-map iframe {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  left: 0;
}
@media (min-width: 768px) {
  .s-map iframe {
    height: 600px;
  }
}

.s-contact-info {
  background-color: #ECF3F8;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .info-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1240px) {
  .info-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.info-item a {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.info-item svg {
  width: 36px;
  height: auto;
}
.info-item p {
  font-size: 16px;
  color: #275372;
}
.info-item:hover a p {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .info-item p {
    font-size: 18px;
  }
  .info-item svg {
    width: 48px;
  }
}

.work-hours {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 20px 0;
  background-color: #275372;
}
footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
@media (min-width: 480px) {
  footer .container {
    flex-wrap: nowrap;
  }
}

.copyright {
  color: #fff;
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.socials svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.socials svg:hover {
  fill: #41B06E;
  stroke: #41B06E;
}
.socials svg:not(:last-child) {
  margin-right: 12px;
}

.social-icon {
  max-width: 40px;
  width: 100%;
}
.social-icon:not(:last-child) {
  margin-right: 8px;
}

:root {
  --opener-size: 48px;
  --sticky-icon-padding: 6px;
}
@media (min-width: 768px) {
  :root {
    --opener-size: 56px;
  }
}
@media (min-width: 992px) {
  :root {
    --opener-size: 60px;
  }
}

.sticky-contacts {
  position: sticky;
  top: 80%;
  left: calc(100% - var(--opener-size));
  z-index: 400;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
}
.sticky-contacts img {
  filter: brightness(10);
}

.sticky-contacts__opener {
  max-width: var(--opener-size);
  max-height: var(--opener-size);
  padding: var(--sticky-icon-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #275372;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.3), -4px 4px 5px rgba(0, 0, 0, 0.3), 4px 4px 5px rgba(0, 0, 0, 0.3), -8px -8px 15px rgba(0, 0, 0, 0.1), -8px 8px 15px rgba(0, 0, 0, 0.1), 8px 8px 15px rgba(0, 0, 0, 0.1);
}
.sticky-contacts__opener:hover {
  background-color: #275372;
  transition: all 0.3s ease;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2), -6px 6px 6px rgba(0, 0, 0, 0.15), 6px 6px 6px rgba(0, 0, 0, 0.15);
}

.sticky_contacts__container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-width: var(--opener-size);
  position: absolute;
}
.sticky_contacts__container:hover .sticky-contacts__content {
  max-height: 1000px;
  visibility: visible;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2), -3px 3px 3px rgba(0, 0, 0, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.2), -6px -6px 6px rgba(0, 0, 0, 0.15), -6px 6px 6px rgba(0, 0, 0, 0.15), 6px 6px 6px rgba(0, 0, 0, 0.15);
}
.sticky_contacts__container:hover .sticky-contacts__opener {
  background-color: #275372;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2), -3px 3px 3px rgba(0, 0, 0, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.2), -6px -6px 6px rgba(0, 0, 0, 0.15), -6px 6px 6px rgba(0, 0, 0, 0.15), 6px 6px 6px rgba(0, 0, 0, 0.15);
}

.sticky-contacts__content {
  position: absolute;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #275372;
  max-height: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  overflow: hidden;
}
.sticky-contacts__content li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-contacts__content li:hover {
  background-color: #1A374C;
  cursor: pointer;
}
.sticky-contacts__content a {
  height: var(--opener-size);
  width: 100%;
}
.sticky-contacts__content img {
  max-width: var(--opener-size);
  padding: var(--sticky-icon-padding);
}

.anchor {
  scroll-margin-top: 85px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  transition: all 0.4s ease;
}
.mobile-menu.open {
  max-height: none;
  pointer-events: all;
  opacity: 1;
}
@media (min-width: 768px) {
  .mobile-menu.open {
    display: none;
  }
}
.mobile-menu .overlay {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background-color: rgba(39, 83, 114, 0.7);
}
.mobile-menu .menu-container {
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
  height: 100%;
  background-color: #275372;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.mobile-menu .mobile-menu__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu.scrolled .mobile-menu__top-section {
  height: 85px;
}
.mobile-menu.scrolled .mobile-menu__top-section .mobile-menu-logo {
  max-width: 140px;
  transition: all 0.3s ease;
}
.mobile-menu .mobile-menu__top-section {
  height: 100px;
}
.mobile-menu .mobile-menu-logo {
  height: 100%;
  max-width: 160px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.mobile-menu .mobile-menu-logo a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.mobile-menu .mobile-menu-logo img {
  height: -moz-fit-content;
  height: fit-content;
}
.mobile-menu .mobile-menu-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.mobile-menu .mobile-menu-list li {
  font-size: 24px;
}
.mobile-menu .mobile-menu-list li a {
  display: inline-block;
  color: #ECF3F8;
  font-size: 16px;
}
@media (min-width: 768px) {
  .mobile-menu .mobile-menu-list li a {
    display: none;
  }
}
.mobile-menu .mobile-menu-list li:hover a {
  text-decoration: underline;
}
.mobile-menu .mobile-menu__socials {
  margin: 80px auto 0;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__button {
  margin-top: 40px;
}
.mobile-menu__button a {
  width: 100%;
}

.burger-contain {
  position: relative;
  z-index: 10;
  display: inline-flex;
}
.burger-contain.open .burger {
  border: 2px solid #fff;
  background-color: #275372;
}
.burger-contain.open:hover .burger {
  background-color: #fff;
}
.burger-contain.open:hover .bun {
  background-color: #275372;
}
.burger-contain.open .bun-top {
  background: #fff;
  top: 9px;
  transform: rotate(45deg);
}
.burger-contain.open .bun-mid {
  opacity: 0;
}
.burger-contain.open .bun-bottom {
  background: #fff;
  top: 5px;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .burger-contain {
    display: none;
  }
}

.burger {
  background: #fff;
  border: 2px solid #275372;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding-left: 16px;
  padding-top: 18px;
  position: relative;
  height: 60px;
  width: 60px;
  transition: all 0.4s ease;
}
.burger:hover {
  background: #275372;
}
.burger:hover .bun {
  background-color: #fff;
}

.bun {
  background: #275372;
  position: relative;
  transition: all 0.4s ease;
}
.bun.bun-top {
  height: 2px;
  top: 0;
  width: 24px;
}
.bun.bun-mid {
  height: 2px;
  top: 8px;
  width: 24px;
}
.bun.bun-bottom {
  height: 2px;
  top: 16px;
  width: 24px;
}

.full-menu {
  display: none;
}
@media (min-width: 768px) {
  .full-menu {
    display: block;
    margin: 0 20px;
    flex-shrink: 0;
  }
  .full-menu ul {
    display: flex;
    align-items: center;
  }
  .full-menu li {
    list-style: none;
    cursor: pointer;
  }
  .full-menu li a {
    text-decoration: none;
    display: inline-block;
    color: #275372;
    font-size: 16px;
  }
  .full-menu li a:hover {
    text-decoration: underline;
    color: #2E3138;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .full-menu li a {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .full-menu li a {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .full-menu li:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .full-menu li:not(:last-child) {
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .full-menu {
    display: block;
    margin: 0 40px;
  }
}

.c-button {
  padding: 9px 12px;
  color: #fff;
  background-color: #41B06E;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: inherit;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.c-button:hover {
  transition: all 0.2s ease;
  background-color: #338b57;
}
.c-button.full {
  width: 100%;
}
@media (min-width: 992px) {
  .c-button {
    padding: 18px 36px;
  }
}
.c-button::before {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(10);
  flex-shrink: 0;
}
.c-button.whatsApp::before {
  content: "";
  background-image: url("../assets/icons/whatsapp.svg");
}
.c-button.phone::before {
  content: "";
  background-image: url("../assets/icons/phone.svg");
}
.c-button.contact-form::before {
  content: "";
  background-image: url("../assets/icons/email.svg");
}
.c-button.online::before {
  content: "";
  background-image: url("../assets/icons/schedule.svg");
}

.services-grig {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 768px) {
  .services-grig {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services-grig {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-service-card {
  padding: 20px;
  background-color: #ECF3F8;
}
.c-service-card .card-image-container {
  margin: 0 auto 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  background-color: #275372;
}
.c-service-card .card-image-container svg {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.c-service-card h3 {
  font-size: 20px;
  color: #275372;
  text-align: center;
  margin-bottom: 2dvh;
}
.c-service-card p {
  font-size: 16px;
  color: #8E94A4;
  text-align: center;
  font-style: italic;
}

.c-section-heading h2 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.c-section-heading p {
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .c-section-heading p {
    font-size: 18px;
  }
}
.c-section-heading.all-left h2 {
  text-align: left;
}
.c-section-heading.all-left p {
  text-align: left;
}
.c-section-heading.dark h2,
.c-section-heading.dark p {
  color: #1A374C;
}

.c-gallery {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (min-width: 768px) {
  .c-gallery {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 1240px) {
  .c-gallery {
    -moz-columns: 4;
         columns: 4;
  }
}

.gallery-item {
  margin-bottom: 12px;
}
.gallery-item a {
  position: relative;
}
.gallery-item a::before {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  background-color: rgba(39, 83, 114, 0.5);
  z-index: 10;
  max-width: 0;
  transition: all 0.4s ease;
}
.gallery-item a::after {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  z-index: 11;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  background-image: url("../assets/icons/zoom_in.svg");
  max-width: 0;
}
.gallery-item img {
  vertical-align: top;
}
.gallery-item:hover a:before,
.gallery-item:hover a:after {
  max-width: 100%;
  transition: all 0.4s ease;
}

:root {
  --swiper-navigation-color: #8DB9D8;
  --swiper-pagination-color: #D9E8F2;
  --swiper-pagination-bullet-inactive-color: #8E94A4 ;
}

.swiper-outer {
  padding: 0;
}
@media (min-width: 768px) {
  .swiper-outer {
    padding: 0 20px;
  }
}

.swiper .swiper-slide {
  height: auto;
  display: flex;
}

.swiper-button.swiper-button-prev,
.swiper-button.swiper-button-next {
  top: calc(50% + 40px);
  display: none;
}
@media (min-width: 768px) {
  .swiper-button.swiper-button-prev,
  .swiper-button.swiper-button-next {
    display: inline-block;
  }
}

.c-feedback {
  position: relative;
  padding: 24px 10px;
  background-color: #275372;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .c-feedback {
    padding: 40px 20px;
  }
}
.c-feedback::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ECF3F8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  z-index: 100;
}
.c-feedback::after {
  position: absolute;
  content: "❝";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #275372;
  z-index: 100;
  font-size: 50px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .c-feedback {
    line-height: 100%;
    padding: 40px 20px;
  }
  .c-feedback::before {
    top: -30px;
    width: 60px;
    height: 60px;
  }
  .c-feedback::after {
    font-size: 60px;
  }
}
.c-feedback p {
  color: #F1F2F4;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
.c-feedback h3 {
  margin: auto 0 10px;
  color: #F1F2F4;
  text-align: center;
}

.c-form {
  margin: 40px 0;
}
.c-form .form-heading {
  color: #1A374C;
  margin: 20px 0;
}
.c-form .form-heading h3 {
  margin-bottom: 6px;
}
.c-form label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.c-form input,
.c-form textarea {
  font-family: inherit;
  width: 100%;
  outline: none;
  border: 1px solid #1A374C;
  color: #1A374C;
  max-height: 56px;
}
.c-form input:focus,
.c-form textarea:focus {
  border-color: #8DB9D8;
}
.c-form input::-moz-placeholder, .c-form textarea::-moz-placeholder {
  color: #8E94A4;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.c-form input::placeholder,
.c-form textarea::placeholder {
  color: #8E94A4;
  transition: all 0.2s ease;
}
.c-form input:focus::-moz-placeholder, .c-form textarea:focus::-moz-placeholder {
  font-size: 12px;
}
.c-form input:focus::placeholder,
.c-form textarea:focus::placeholder {
  font-size: 12px;
}
.c-form input {
  padding: 18px 36px 18px 18px;
  background-color: #fff;
}
.c-form textarea {
  padding: 18px 36px 18px 18px;
  resize: none;
  min-height: 120px;
}
.c-form label::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 24px;
  height: 24px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.c-form .name-label::before {
  background-image: url("../assets/icons/person.svg");
}
.c-form .phone-label::before {
  background-image: url("../assets/icons/phone.svg");
}
.c-form .email-label::before {
  background-image: url("../assets/icons/email.svg");
}
.c-form .date-label input {
  padding-right: 10px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
          appearance: none !important;
}
.c-form .date-label::before {
  background-image: url("../assets/icons/calendar.svg");
}
.c-form .date-label input[type=date]::-webkit-inner-spin-button,
.c-form .date-label input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.c-form .date-label input {
  color: transparent;
}
.c-form .date-label input::after {
  content: "Scegli l'ora dell'appuntamento";
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  color: #8E94A4;
  pointer-events: none;
  transition: opacity 0.2s;
}
.c-form .date-label input:focus {
  color: #1A374C;
}
.c-form .date-label input:focus::after {
  content: "";
}
.c-form .date-label input:not(:-moz-placeholder-shown) + .c-form .date-label input::after {
  opacity: 0;
}
.c-form .date-label input:not(:placeholder-shown) + .c-form .date-label input::after {
  opacity: 0;
}
.c-form .date-label.filled input {
  color: #1A374C;
}
.c-form .date-label.filled input::after {
  content: "";
}
.c-form .date-label.filled:not(:-moz-placeholder-shown) + .c-form .date-label.filled::after {
  opacity: 0;
}
.c-form .date-label.filled:not(:placeholder-shown) + .c-form .date-label.filled::after {
  opacity: 0;
}
.c-form .message-label::before {
  top: 8px;
  margin: unset;
  bottom: unset;
  background-image: url("../assets/icons/message.svg");
}
.c-form .form-hint {
  color: #8E94A4;
  font-size: 12px;
  margin-bottom: 20px;
}
.c-form .inputs-holder {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  .c-form .inputs-holder {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}

.section-padding {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .section-padding {
    padding: 60px 0;
  }
}
@media (min-width: 992px) {
  .section-padding {
    padding: 80px 0;
  }
}

main {
  margin-top: 100px;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #E3E4E8;
}

::-webkit-scrollbar-thumb {
  background-color: #275372;
  border-radius: 10px;
  border: 3px solid #E3E4E8;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #275372 #E3E4E8;
}

body {
  -ms-overflow-style: scrollbar;
}

::-moz-selection {
  color: #1A374C;
  background: #8E94A4;
}

::selection {
  color: #1A374C;
  background: #8E94A4;
}/*# sourceMappingURL=style.css.map */