:root {
    --opener-size: 48px;
    --sticky-icon-padding: 8px;

    @media (min-width:768px) {
        --opener-size: 56px;
    }

    @media (min-width:992px) {
        --opener-size: 60px;
    }
}

.sticky-contacts {
    position: fixed;
    bottom: 120px;
    right: 0;
    z-index: 400;
    max-width: max-content;
    display: flex;
    transition: all .3s ease;
    cursor: pointer;

    img {
        filter: brightness(10);
    }

    &.opened {
        .sticky-contacts__opener {
            background-color: $primary70;
            transition: all .3s ease;
            box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2), -6px 6px 6px rgba(0, 0, 0, 0.15), 6px 6px 6px rgba(0, 0, 0, 0.15);
        }

        .sticky-contacts__content {
            max-height: 1000px;
            visibility: visible;
            box-shadow:
                -3px -3px 3px rgba(0, 0, 0, 0.2),
                -3px 0px 3px rgba(0, 0, 0, 0.2),
                3px 0px 3px rgba(0, 0, 0, 0.2),
                -6px -6px 6px rgba(0, 0, 0, 0.15),
                -6px 0px 6px rgba(0, 0, 0, 0.15),
        }
    }
}

.sticky-contacts__opener {
    max-width: var(--opener-size);
    max-height: var(--opener-size);
    padding: var(--sticky-icon-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary70;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.3), -4px 4px 5px rgba(0, 0, 0, 0.3), 4px 4px 5px rgba(0, 0, 0, 0.3), -8px -8px 15px rgba(0, 0, 0, 0.1), -8px 8px 15px rgba(0, 0, 0, 0.1), 8px 8px 15px rgba(0, 0, 0, 0.1);
}

.sticky-contacts__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


.sticky-contacts__content {
    position: absolute;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: $primary70;
    max-height: 0;
    transition: all .2s ease-out;
    visibility: hidden;
    overflow: hidden;

    li {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $primary90;
            cursor: pointer;
        }
    }

    a {
        height: var(--opener-size);
        width: 100%;
    }

    img {
        max-width: var(--opener-size);
        padding: var(--sticky-icon-padding);
    }
}