.c-button {
    padding: 9px 18px;
    color: #fff;
    background-color: $greenPrimary;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
    
    &:hover {
        transition: all .2s ease;
        background-color: darken($color: $greenPrimary, $amount: 10);
    }
    
    &.full {
        width: 100%;
    }
    
    @media (min-width:768px) {
        padding: 18px 36px;
    }
}