.full-menu {
    display: none;

    @media (min-width:768px) {
        display: block;
        margin: 0 20px;
        flex-shrink: 0;

        ul {
            display: flex;
            align-items: center;
        }

        li {
            list-style: none;
            cursor: pointer;

            a {
                text-decoration: none;
                display: inline-block;
                color: $primary70;
                font-size: 16px;

                &:hover {
                    text-decoration: underline;
                    color: $default70;
                }

                @media (min-width:768px) {
                    font-size: 18px;
                }

                @media (min-width:992px) {
                    font-size: 20px;
                }
            }

            &:not(:last-child) {
                margin-right: 20px;

                @media (min-width:992px) {
                    margin-right: 40px;
                }
            }
        }
    }

    @media (min-width:768px) {
        display: block;
        margin: 0 40px;
    }
}