.c-form {
    margin: 40px 0 var(--section-padding-size);

    .form-heading {
        color: $primary90;
        margin: 20px 0;

        h3 {
            margin-bottom: 6px;
        }
    }

    label {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input,
    textarea {
        font-family: inherit;
        width: 100%;
        outline: none;
        border: 1px solid $primary90;
        color: $primary90;
        max-height: 56px;

        &:focus {
            border-color: $primary50;
        }

        &::placeholder {
            color: $default50;
            transition: all .2s ease;

        }

        &:focus {
            &::placeholder {
                font-size: 12px;
            }
        }
    }

    input {
        padding: 18px 36px 18px 18px;
        background-color: $primary0;
    }

    textarea {
        padding: 18px 36px 18px 18px;
        resize: none;
        min-height: 120px;
    }

    label::before {
        content: '';
        display: inline-block;
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 24px;
        height: 24px;
        z-index: 10;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }

    .name-label::before {
        background-image: url('../assets/icons/person.svg');
    }

    .phone-label::before {
        background-image: url('../assets/icons/phone.svg');
    }

    .email-label::before {
        background-image: url('../assets/icons/email.svg');
    }

    .date-label {
        input {
            padding-right: 10px;
            -moz-appearance: none !important;
            appearance: none !important;
        }

        &::before {
            background-image: url('../assets/icons/calendar.svg');
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }


        input {
            color: transparent;

            &::after {
                content: "Scegli l'ora dell'appuntamento";
                position: absolute;
                top: 50%;
                left: 18px;
                transform: translateY(-50%);
                color: $default50;
                pointer-events: none;
                transition: opacity 0.2s
            }

            &:focus {
                color: $primary90;

                &::after {
                    content: '';
                }
            }

            &:not(:placeholder-shown)+&::after {
                opacity: 0;
            }
        }

        &.filled {
            input {
                color: $primary90;

                &::after {
                    content: "";
                }
            }

            &:not(:placeholder-shown)+&::after {
                opacity: 0;
            }
        }
    }

    .message-label::before {
        top: 18px;
        margin: unset;
        bottom: unset;
        background-image: url('../assets/icons/message.svg');
    }



    .form-hint {
        color: $default50;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .inputs-holder {
        display: flex;
        width: 100%;
        flex-direction: column;

        @media (min-width:768px) {
            flex-direction: row;
            justify-content: space-between;
            column-gap: 10px;
        }
    }
}