.c-gallery {
    column-count: 2;
    column-gap: 10px;

    @media (min-width:768px) {
        column-count: 3;

    }
}

.gallery-item {
    overflow: hidden;
    margin-bottom: 10px;

    img {
        width: 100%;
        transition: transform 0.3s;
        overflow: hidden;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.gallery-button-wrapper {
    margin: 20px 0;
    text-align: center;
}