$primary90: #1A374C;
$primary70: #275372;
$primary50: #8DB9D8;
$primary30: #D9E8F2;
$primary10: #ECF3F8;
$primary0: #fff;

$default90: #1E2025;
$default70: #2E3138;
$default50: #8E94A4;
$default30: #C7CAD1;
$default10: #E3E4E8;
$default0: #F1F2F4;

$greenPrimary: #41B06E;